{% extends "base.html" %}

{% block title %}Dashboard Home{% endblock %}

{% block content %}
<div class="bg-[#26314b] rounded-sm text-white w-full p-10">
    <h2>Welcome to your dashboard</h2>
    <p>This is the dashboard page.</p>
</div>

<div class="bg-[#26314b] rounded-sm text-white w-full p-10 my-8">
    <table>
        <thead>
            {% for header in headers %}
                {% if header != "comment" %}
                <th>{{ header|capitalize }}</th>
                {% endif %}
            {% endfor %}
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for header in headers %}
                        {% if header != "comment" %}
                            <td class="
                                {% if header == 'provider' %}text-[#46C2FF]{% endif %}
                                {% if header == 'total_searches' %}text-[#46C2FF]{% endif %}
                            ">
                                {{ row[header] }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}