<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    {% block head %}{% endblock %}
</head>
<body>

    <!-- Navbar -->
    <nav class="h-14 bg-[#ffffff] text-black shadow-lg">
        {% include "partials/navbar.html" %}
    </nav>

    <!-- Main layout -->
    <div>

        <aside class="fixed h-screen w-64 bg-[#26314b] text-white">
            {% include "partials/sidebar.html" %}
        </aside>

        <main class="flex-1 ml-64 p-6">
            {% block content %}{% endblock %}
        </main>

    </div>

    <!-- Footer -->
    <footer class="absolute flex justify-center text-xs bg-white bottom-0 h-4 w-screen">
        <p>© 2026</p>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>